//BACKGROUND COLORS
$background_white: #FFFFFF;
$background_red: #BF1D2E;
$background_light: #F3F3F3;
$background_dark: #333333;

//TEXT COLORS
$text_white: #FFFFFF;
$text_red: #BF1D2E;
$text_light: #F3F3F3;
$text_dark: #333333;

//BORDER COLORS
$border_white: #FFFFFF;
$border_red: #BF1D2E;
$border_light: #F3F3F3;
$border_dark: #333333;